<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h1>Job<span style="color: blue;">Portal</span></h1>&nbsp;&nbsp;&nbsp;
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="user">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search for a job" aria-label="Search">
                <button class="searchBttn" type="submit"><span class="pi pi-search"></span></button>&nbsp;&nbsp;
</form> -->

            <button class="exitBttn2" type="submit" routerLink="/">Sign Out</button>

        </div>
    </div>
</nav>

<div class="text">
    <div class="container">
        <div>
            <br>
            <form class="d-flex justify-content-center mb-4">
                <input class="form-control ms-3 me-1 " type="search" placeholder="Search for a job" aria-label="Search">
                
                <button class="searchBttn m-0" type="submit"><span class="pi pi-search"></span></button>
            </form>
        </div>
    
        <div class="row w-100 mb-4">
          
                <div class="col-md-3 zoom-card">
                    <p-card header="Advanced Card" subheader="Card Subheader" >
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                        </ng-template>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Save" icon="pi pi-check"></p-button>
    
                        </ng-template>
                    </p-card>
    
                </div>
    
                <div class="col-md-3 zoom-card">
                    <p-card header="Advanced Card" subheader="Card Subheader" >
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                        </ng-template>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Save" icon="pi pi-check"></p-button>
    
                        </ng-template>
                    </p-card>
    
                </div>
    
                <div class=" col-md-3 zoom-card">
    
                    <p-card header="Advanced Card" subheader="Card Subheader" >
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                        </ng-template>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Save" icon="pi pi-check"></p-button>
    
                        </ng-template>
                    </p-card>
    
                </div>
    
                <div class=" col-md-3 zoom-card">
    
                    <p-card header="Advanced Card" subheader="Card Subheader" >
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                        </ng-template>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Save" icon="pi pi-check"></p-button>
    
                        </ng-template>
                    </p-card>
    
                </div>
           
        </div>
        
        <div class="row w-100 mb-4">
          
            <div class="col-md-3 zoom-card">
                <p-card header="Advanced Card" subheader="Card Subheader" >
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
    
                    </ng-template>
                </p-card>
    
            </div>
    
            <div class="col-md-3 zoom-card">
                <p-card header="Advanced Card" subheader="Card Subheader" >
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
    
                    </ng-template>
                </p-card>
    
            </div>
    
            <div class=" col-md-3 zoom-card">
    
                <p-card header="Advanced Card" subheader="Card Subheader" >
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
    
                    </ng-template>
                </p-card>
    
            </div>
    
            <div class=" col-md-3 zoom-card">
    
                <p-card header="Advanced Card" subheader="Card Subheader" >
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
    
                    </ng-template>
                </p-card>
    
            </div>
       
    </div> 
    
        
    </div>
    
    <div class="content2">
        <h3>Contact:</h3>
    </div>
</div>

